
body .theme-dark {
  background: #333333 !important;
}

.theme-dark .list-group-item.active,
.theme-dark .btn-primary,
.theme-dark .btn-primary:active,
.theme-dark .btn-primary:hover{
  color: white !important;
  background-color: #333 !important;
  border-color: #333 !important;
}