@import "styles/colors";
@import "styles/dark_mode";

.bg-success {
    background-color: $verde !important;
}
.bg-warning {
    background-color: $amarillo !important;
}
.bg-error {
    background-color: $rojo !important;
}